<!-- Full Page Intro -->
<div class="view" id="intro-section">
  <video class="video-intro" playsinline autoplay muted loop>
    <source src="assets/animation.mp4" type="video/mp4">
  </video>
  <!-- Mask & flexbox options-->
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
    <!-- Content -->
    <div class="container">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-md-12 mb-4 white-text text-center">
          <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 animated wow fadeInDown"
            data-wow-delay="0.8s"><strong>Matt Gilliland</strong></h1>
          <hr class="hr-light my-4 wow animated fadeInDown" data-wow-delay="0.8s">
          <h5 class="text-uppercase mb-4 white-text wow animated fadeInDown" data-wow-delay="0.8s">
            <strong>Full Stack Web Developer</strong></h5>
          <a pageScroll href="#portfolio" mdbBtn color="white" outline="true" mdbWavesEffect
            class="wow animated fadeInDown" data-wow-delay="0.8s">Projects</a>
          <a pageScroll href="#about" mdbBtn color="white" outline="true" mdbWavesEffect class="wow animated fadeInDown"
            data-wow-delay="0.8s">About Me</a>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row">
        <!--Grid column-->

        <div class="col-md-12 mb-4 white-text text-center">
          <svg version="1.1" id="arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 144.41 35.65" style="enable-background:new 0 0 144.41 35.65;"
            xml:space="preserve" class="mx-auto d-block" mdbWavesEffect
            class="wow animated fadeInDown animated pulse infinite" data-wow-delay="0.8s">
            <style type="text/css">
              .st0 {
                fill: #FFFFFF;
                stroke-miterlimit: 10;
              }
            </style>
            <g>
              <path class="st0" d="M72.2,35.2c71.99-34.75,71.99-34.75,71.99-34.75" />
              <path class="st0" d="M72.2,35.2C0.22,0.45,0.22,0.45,0.22,0.45" />
            </g>
          </svg>

        </div>
      </div>
      <!--Grid row-->
    </div>
    <!-- Content -->
  </div>
  <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->
