<section id="about">
  <div class="row" id="about-container">
    <div class="col-md-4 mb-md-0 mb-5">
      <div class="avatar mx-auto d-flex justify-content-center">
        <img src="assets/profile.png" class="rounded-circle z-depth-1" alt="Sample avatar">
      </div>
    </div>
    <div class="col-md-6 mb-md-0 mb-5">

      <h4><i class="fas fa-quote-left pr-4"></i>
        My name is Matt Gilliland. I graduated from uAlbany in 2014 with a Masters in Computer Science. For my
        Master's project I developed uAlbany's first official mobile app for Android and iOS using Phonegap. After
        graduation I took a position at Northfork Web, working remotely as an application developer and project manager.
        <br> <br>
        A year later I changed career paths and began working as a carpenter. In 2017 I co-founded a carpentry sub
        contracting business with a long time friend. After 2 years of running my own business and 5 years of working as
        a carpenter, I decided to get back into the field of computer science as a full stack web developer. I enrolled
        in Columbia University's fullstack web development bootcamp to brush up on my development skills and familiarize
        myself with the popular technologies and frameworks of today.
        <br> <br>
        I am excited to utilize my broad set of skills to be an effective and efficient developer for your organization!
      </h4>
    </div>


  </div>
</section>
