<!-- Section: Contact v.3 -->
<section id="contact" class="contact-section">
  <div>
    <!-- Form with header -->
    <div class="card">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-8">

          <div class="card-body form">

            <!-- Header -->
            <h3 class="mt-4"><i class="fas fa-envelope pr-2"></i>Write to me</h3>
            <h6 class="mt-2">If you are interested in working with me, please send me a message.</h6>
            <h6 class="mt-2">I will get back to you in 24 hours. </h6>

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input type="text" id="form-contact-name" class="form-control" mdbInput>
                  <label for="form-contact-name" class="">Your name</label>
                </div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input type="text" id="form-contact-email" class="form-control" mdbInput>
                  <label for="form-contact-email" class="">Your email</label>
                </div>
              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input type="text" id="form-contact-phone" class="form-control" mdbInput>
                  <label for="form-contact-phone" class="">Your phone</label>
                </div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <input type="text" id="form-contact-company" class="form-control" mdbInput>
                  <label for="form-contact-company" class="">Your company</label>
                </div>
              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            <div class="row">

              <!-- Grid column -->
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <textarea type="text" id="form-contact-message" class="form-control md-textarea" rows="3"
                    mdbInput></textarea>
                  <label for="form-contact-message">Your message</label>
                  <a mdbBtn floating="true" size="lg" mdbWavesEffect>
                    <i class="far fa-paper-plane"></i>
                  </a>
                </div>
              </div>
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-4">

          <div class="card-body contact text-center h-100 white-text">

            <h3 class="my-4 pb-2">Contact information</h3>
            <ul class="text-lg-left list-unstyled ml-4">
              <li>
                <p><i class="fas fa-map-marked pr-2"></i>New York, NY, USA</p>
              </li>
              <li>
                <a href="tel:845-532-6154">
                  <p><i class="fas fa-phone pr-2"></i>(845)532-6154</p>
                </a>
              </li>
              <li>
                <a href="mailto:mgilliland23@gmail.com" target="_blank">
                  <p><i class="fas fa-envelope pr-2"></i>mgilliland23@gmail.com</p>
                </a>
              </li>
              <li>
                <button (click)="openPdf();">
                  <a><i class="far fa-file-pdf pr-2"></i>Resume</a>
                  <ng2-pdfjs-viewer #pdfViewer [externalWindow]="true" [downloadFileName]="'MatthewGillilandResume.pdf'"
                    [openFile]="true" [viewBookmark]="false" [download]="false"></ng2-pdfjs-viewer>
                </button>
              </li>
            </ul>
            <hr class="hr-light my-4">
            <ul class="list-inline text-center list-unstyled">
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/matthew-gilliland-77695595/" target="_blank"
                  class="p-2 fa-lg li-ic">
                  <i class="fab fa-linkedin-in"> </i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/mgilliland23" target="_blank" class="p-2 fa-lg ins-ic">
                  <i class="fab fa-github"> </i>
                </a>
              </li>
            </ul>

          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Form with header -->
  </div>

</section>
<!-- Section: Contact v.3 -->
