.contact-section .contact {
  background-color: #E5E9F0 !important;
  color: #3B4252 !important;
}

.contact-section .contact .fab{
  color: #3B4252 !important;
}

i.fas, i.far{
  color: #3B4252 !important;
}

i.far.fa-file-pdf{
  width: 24px;
}

a{
  text-decoration: none;
  color: #3B4252 !important;
}
.hr-light {
  border-top: 1px solid #3B4252 !important;
}


button{
  background-color: transparent;
  border: none;
  padding-left: 0 !important;
}

.card-body{
  padding: 1.25rem 4rem;
  padding-top: 40px;
}

.btn-floating{
  background-color: #3B4252;
}

i.far.fa-paper-plane{
  color: #eceff4 !important;
}

.md-form input[type=text]:focus:not([readonly]){
  box-shadow: 0 1px 0 0 #3B4252;
  border-bottom: 1px solid #3B4252;
  color: #3B4252;
}

.md-form textarea.md-textarea:focus:not([readonly]){
  box-shadow: 0 1px 0 0 #3B4252;
  border-bottom: 1px solid #3B4252;
  color: #3B4252;
}

.md-form textarea.md-textarea:focus:not([readonly]) +label{

  color: #3B4252;
}

.md-form input[type=text]:focus:not([readonly])+ label{

  color: #3B4252;
}

