.contact-section .contact {
  background-color: #E5E9F0 !important;
  color: #3B4252 !important;
}

.contact-section .contact .fab{
  color: #3B4252 !important;
}

i.fas, i.far{
  color: #3B4252 !important;
}

a{
  text-decoration: none;
  color: #3B4252 !important;
}
.hr-light {
  border-top: 1px solid #3B4252 !important;
}


button{
  background-color: transparent;
  border: none;
}

.card-body{
  padding: 1.25rem 4rem;
}

.btn-floating{
  background-color: #3B4252;
}

i.far.fa-paper-plane{
  color: #eceff4 !important;
}

