section{
  background-color: #F8F9FB !important;
  min-height: 100vh;

}

.scroll-padding{
  margin-top: 40px;
}

.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.text-white{
  color: #F8F9FB  !important;
}
