<!--Projects section v.4-->
<section id="portfolio" class="text-center pb-4 pt-4">
  <div class="scroll-padding"></div>

  <!--Grid row-->
  <div class="row px-3">
    <!--Jason Vandermer-->
    <div class="col-md-4 mb-4">
      <div class="card card-image" style="background-image: url(assets/vandermer-min.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5>

              <i class="fab fa-html5 mr-3 ml-3"></i>
              <i class="fab fa-js mr-3"></i>
              <i class="fab fa-css3 mr-3"></i>
              <i class="fab fa-bootstrap"></i>

            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>Jason Vandermer</strong>
            </h3>
            <p class="pb-3">A portfolio website for SNL cinematographer Jason Vandermer. Built using HTML5, CSS3,
              Bootsrap 4 Grid, and Vanilla Jasvascript. WIP - projected finish date mid July. Waiting on content from
              client.
            </p>
            <br>
            <a mdbBtn href="https://mgilliland23.github.io/jason-vandermer/" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn href="https://github.com/mgilliland23/jason-vandermer" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div>
    <!--Jason Vandermer-->

    <!--Cherry Hill Construction-->
    <div class="col-md-4 mb-4">
      <div class="card card-image" style="background-image: url(assets/CHC-min.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5>
              <i class="fab fa-angular mr-3"></i>
              <i class="fab fa-aws"></i>

            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>Cherry Hill Construction</strong>
            </h3>
            <p class="pb-3">A website to promote a carpentry and construction business that I co-own. Built with
              Angular 7, Material Design for Bootstrap Pro and deployed using AWS Amplify. WIP - projected finish date
              end of July.
            </p>
            <br>
            <a mdbBtn href="https://master.d2nyojx2gknay2.amplifyapp.com/home" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn href="https://github.com/mgilliland23/chc-mdb-pro" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div>
    <!--Cherry Hill Construction-->

    <!--GifTastic-->
    <div class="col-md-4 mb-4">
      <div class="card card-image" style="background-image: url(assets/gifTastic-min.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5>
              <i class="fab fa-html5 mr-3"></i>
              <i class="fab fa-js mr-3"></i>
              <i class="fab fa-bootstrap"></i>
            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>gifTastic</strong>
            </h3>
            <p class="pb-3">A fun website that displays gifs from different TV shows. The user can add a TV show of
              their own or select from a list of pre existing TV shows. Built using HTML5, CSS3, Bootstrap 4, and
              Jquery. Utilizes GIPHY API.
            </p>
            <a mdbBtn href="https://mgilliland23.github.io/GifTastic/" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn href="https://github.com/mgilliland23/GifTastic" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div>
    <!--GifTastic-->

    <!--Steph Mossey-->
    <div class="col-md-4 mb-4">
      <div class="card card-image" style="background-image: url(assets/mossey-min.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5>
              <i class="fab fa-angular mr-3"></i>
              <i class="fab fa-aws"></i>

            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>Steph Mossey</strong>
            </h3>
            <p class="pb-3">A website for photographer and adventurer Steph L. Mossey. Built using Angular 7, Material
              Design for Bootstrap. WIP - projected finish date end of August.
              <br /><br /><br />
            </p>

            <a mdbBtn href="" target="_blank" size="md" class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn href="https://github.com/mgilliland23/StephMossey" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div>
    <!--Steph Mossey-->

    <!-- Fortsaet -->
    <div class="col-md-4 mb-4">
      <div class="card card-image" style="background-image: url(assets/fortsaet-min.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5>
              <i class="fab fa-html5 mr-3 ml-3"></i>
              <i class="fab fa-css3 mr-3"></i>
              <i class="fab fa-bootstrap mr-3"></i>
              <i class="fab fa-js mr-3"></i>

            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>Fortsaet</strong>
            </h3>
            <p class="pb-3">Fortsaet analyze a resume and gives feedback on the different types
              of emotions and personality traits that the resume conveys. This tool can be used to see how your resume
              would stack up when put through a machine learning algorithm that many companies today use.
            </p>
            <a mdbBtn href="https://www.fortsaet.com/" target="_blank" size="md" class="waves-light btn-outline-white"
              mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn href="https://www.fortsaet.com/" target="_blank" size="md" class="waves-light btn-outline-white"
              mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div>
    <!-- fortsaet -->
    <!-- Burger builder -->
    <div class="col-md-4 mb-4">
      <div class="card card-image" style="background-image: url(assets/fortsaet-min.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5>
              <i class="fab fa-html5 mr-3 ml-3"></i>
              <i class="fab fa-css3 mr-3"></i>
              <i class="fab fa-bootstrap mr-3"></i>
              <i class="fab fa-js mr-3"></i>
              <i class="fab fa-node mr-3"></i>
              <i class="fas fa-database mr-3"></i>
            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>Burger Builder</strong>
            </h3>
            <p class="pb-3">This a node app deployed through Heroku that performs simple CRUD operations on a remote
              MySQL database. The app follows MVC design principles and features a custom ORM.
            </p>
            <br><br>
            <a mdbBtn href="https://stormy-temple-83548.herokuapp.com/" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn href="https://www.github.com/mgilliland23/bureger" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4 mb-4">
      <div class="card card-image" style="background-image: url(assets/burgerBuilder-min.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5>

            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>Burger Builder</strong>
            </h3>
            <p class="pb-3">
            </p>
            <a mdbBtn href="https://stormy-temple-83548.herokuapp.com/" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn href="" target="_blank" size="md" class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Burger builder -->

  </div>
  <!--Grid row-->

</section>
<!--Projects section v.4-->
