<!--Projects section v.4-->
<section id="portfolio" class="text-center pb-4 pt-4">
  <div class="scroll-padding"></div>

  <!--Grid row-->
  <div class="row px-3">

    <!--Quantla-->
    <div class="col-md-4 mb-4">
      <div class="card card-image" style="background-image: url(assets/quantla.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5>
              <i class="fab fa-html5 mr-3 ml-3"></i>
              <i class="fab fa-css3 mr-3"></i>
              <i class="fab fa-bootstrap mr-3"></i>
              <i class="fab fa-js mr-3"></i>
              <i class="fab fa-node mr-3"></i>
              <i class="fas fa-database mr-3"></i>
              <i class="fab fa-aws"></i>

            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>Quantla</strong>
            </h3>
            <p class="pb-3">Quantla is a web app that uses the Tensorflow machine learning model to make an informed
              decision on how and when to trade bitcoin. The app collects 142 data points every
              5 minutes and uses this data to advise users whether to buy, sell, or hold.
              <br /><br /><br />
            </p>

            <a mdbBtn href="https://www.quantla.com" target="_blank" size="md" class="waves-light btn-outline-white"
              mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn href="https://github.com/mgilliland23/quantla" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div>
    <!--Quantla-->
    <!--Jason Vandermer-->
    <div class="col-md-4 mb-4">
      <div class="card card-image" style="background-image: url(assets/vandermer-min.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5>

              <i class="fab fa-html5 mr-3 ml-3"></i>
              <i class="fab fa-js mr-3"></i>
              <i class="fab fa-css3 mr-3"></i>
              <i class="fab fa-bootstrap"></i>

            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>Jason Vandermer</strong>
            </h3>
            <p class="pb-3">A portfolio website for SNL cinematographer Jason Vandermer. Built using HTML5, CSS3,
              Bootsrap 4 Grid, and Vanilla Jasvascript. WIP - projected finish date mid July. Waiting on content from
              client.
            </p>
            <br><br><br>
            <a mdbBtn href="https://mgilliland23.github.io/jason-vandermer/" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn href="https://github.com/mgilliland23/jason-vandermer" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div>
    <!--Jason Vandermer-->

    <!--Cherry Hill Construction-->
    <div class="col-md-4 mb-4">
      <div class="card card-image" style="background-image: url(assets/CHC-min.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5>
              <i class="fab fa-angular mr-3"></i>
              <i class="fab fa-aws"></i>

            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>Cherry Hill Construction</strong>
            </h3>
            <p class="pb-3">A website to promote a carpentry and construction business that I co-own. Built with
              Angular 7, Material Design for Bootstrap Pro and deployed using AWS Amplify. WIP - projected finish date
              end of July.
            </p>
            <br><br><br>
            <a mdbBtn href="https://master.d2nyojx2gknay2.amplifyapp.com/home" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn href="https://github.com/mgilliland23/chc-mdb-pro" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div>
    <!--Cherry Hill Construction-->

    <!--GifTastic-->
    <div class="col-md-4 mb-4">
      <div class="card card-image" style="background-image: url(assets/friendFinder.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 mask ">
          <div>
            <h5>
              <i class="fab fa-html5 mr-3 ml-3"></i>
              <i class="fab fa-css3 mr-3"></i>
              <i class="fab fa-bootstrap mr-3"></i>
              <i class="fab fa-js mr-3"></i>
              <i class="fab fa-node mr-3"></i>
              <i class="fas fa-database mr-3"></i>
            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>Friend Finder</strong>
            </h3>
            <p class="pb-3">A responsice fullstack web app that uses Node, Express, MySQL, Sequelize and bootstrap. It
              is a survey type webpage with some cool UI/ UX components. Deployed using Heroku.
            </p>
            <br><br><br>
            <a mdbBtn href="https://powerful-retreat-66885.herokuapp.com/" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn href="https://github.com/mgilliland23/FriendFinder" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div>
    <!--GifTastic-->



    <!-- Fortsaet -->
    <div class="col-md-4 mb-4">
      <div class="card card-image" style="background-image: url(assets/fortsaet-min.png);">
        <div class="mask text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5>
              <i class="fab fa-html5 mr-3 ml-3"></i>
              <i class="fab fa-css3 mr-3"></i>
              <i class="fab fa-bootstrap mr-3"></i>
              <i class="fab fa-js mr-3"></i>

            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>Fortsaet</strong>
            </h3>
            <p class="pb-3">Fortsaet analyzes a resume and gives feedback on the different types
              of emotions and personality traits that the resume conveys using IBM Watson. This tool can be used to see
              how a resume
              would stack up when put through a machine learning algorithm that many companies today use. It can also be
              used by potential employers to help in the hiring process.
            </p>
            <a mdbBtn href="https://www.fortsaet.com/" target="_blank" size="md" class="waves-light btn-outline-white"
              mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn href="https://www.fortsaet.com/" target="_blank" size="md" class="waves-light btn-outline-white"
              mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div>
    <!-- fortsaet -->
    <!-- Burger builder -->
    <div class="col-md-4 mb-4">
      <div class="card card-image" style="background-image: url(assets/fortsaet-min.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5>
              <i class="fab fa-html5 mr-3 ml-3"></i>
              <i class="fab fa-css3 mr-3"></i>
              <i class="fab fa-bootstrap mr-3"></i>
              <i class="fab fa-js mr-3"></i>
              <i class="fab fa-node mr-3"></i>
              <i class="fas fa-database mr-3"></i>
            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>Burger Builder</strong>
            </h3>
            <p class="pb-3">This a node app deployed through Heroku that performs simple CRUD operations on a remote
              MySQL database. The app follows MVC design principles and features a custom ORM.
            </p>
            <br><br><br>
            <a mdbBtn href="https://stormy-temple-83548.herokuapp.com/" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn href="https://www.github.com/mgilliland23/bureger" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4 mb-4">
      <div class="card card-image" style="background-image: url(assets/burgerBuilder-min.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5>

            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>Burger Builder</strong>
            </h3>
            <p class="pb-3">
            </p>
            <a mdbBtn href="https://stormy-temple-83548.herokuapp.com/" target="_blank" size="md"
              class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn href="" target="_blank" size="md" class="waves-light btn-outline-white" mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Burger builder -->

  </div>
  <!--Grid row-->

</section>
<!--Projects section v.4-->
