<!--Projects section v.4-->
<section class="text-center pb-4 pt-4">

  <!--Grid row-->
  <div class="row px-3">
    <!--Jason Vandermer-->
    <div class="col-md-4 mb-4">
      <div class="card card-image" style="background-image: url(assets/vandermer.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="blue-grey-text">

              <i class="fab fa-html5 mr-3 ml-3"></i>
              <i class="fab fa-js mr-3"></i>
              <i class="fab fa-css3 mr-3"></i>
              <i class="fab fa-bootstrap"></i>

            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>Jason Vandermer</strong>
            </h3>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
              laboriosam,
              voluptatem,
              optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
              Odit sed qui, dolorum!
            </p>
            <a mdbBtn color="teal" size="md" class="waves-light" mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn color="blue-grey" size="md" class="waves-light" mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div>
    <!--Jason Vandermer-->

    <!--Cherry Hill Construction-->
    <div class="col-md-4 mb-4">
      <div class="card card-image" style="background-image: url(assets/CHC.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="teal-text">
              <i class="fab fa-angular mr-3"></i>
              <i class="fab fa-aws"></i>

            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>Cherry Hill Construction</strong>
            </h3>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
              laboriosam,
              voluptatem,
              optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
              Odit sed qui, dolorum!
            </p>
            <a mdbBtn color="teal" size="md" class="waves-light" mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn color="blue-grey" size="md" class="waves-light" mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div>
    <!--Cherry Hill Construction-->

    <!--GifTastic-->
    <div class="col-md-4 mb-4">
      <div class="card card-image" style="background-image: url(assets/gifTastic.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="blue-grey-text">
              <i class="fab fa-html5 mr-3"></i>
              <i class="fab fa-js mr-3"></i>
              <i class="fab fa-bootstrap"></i>
            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>gifTastic</strong>
            </h3>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
              laboriosam,
              voluptatem,
              optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
              Odit sed qui, dolorum!
            </p>
            <a mdbBtn color="teal" size="md" class="waves-light" mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn color="blue-grey" size="md" class="waves-light" mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div>
    <!--GifTastic-->

    <!--Steph Mossey-->
    <div class="col-md-4 mb-4">
      <div class="card card-image" style="background-image: url(assets/mossey.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="teal-text">
              <i class="fab fa-angular mr-3"></i>
              <i class="fab fa-aws"></i>

            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>Steph Mossey</strong>
            </h3>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
              laboriosam,
              voluptatem,
              optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
              Odit sed qui, dolorum!
            </p>
            <a mdbBtn color="teal" size="md" class="waves-light" mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn color="blue-grey" size="md" class="waves-light" mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div>
    <!--Steph Mossey-->
    <div class="col-md-4 mb-4">
      <div class="card card-image"
        style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20%2847%29.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="blue-grey-text">
              <i class="fab fa-angular mr-3"></i>
              <i class="fab fa-aws"></i>

            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>Future Project</strong>
            </h3>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
              laboriosam,
              voluptatem,
              optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
              Odit sed qui, dolorum!
            </p>
            <a mdbBtn color="teal" size="md" class="waves-light" mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn color="blue-grey" size="md" class="waves-light" mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card card-image"
        style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/City/6-col/img%20%2847%29.jpg);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
          <div>
            <h5 class="teal-text">
              <i class="fab fa-angular mr-3"></i>
              <i class="fab fa-aws"></i>

            </h5>
            <h3 class="py-3 font-weight-bold">
              <strong>Future Project</strong>
            </h3>
            <p class="pb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
              laboriosam,
              voluptatem,
              optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
              Odit sed qui, dolorum!
            </p>
            <a mdbBtn color="teal" size="md" class="waves-light" mdbWavesEffect>
              <i class="far fa-clone left"></i> View website</a>
            <a mdbBtn color="blue-grey" size="md" class="waves-light" mdbWavesEffect>
              <i class="fab fa-github right"></i> View code</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--Grid row-->

</section>
<!--Projects section v.4-->
