/* You can add global styles to this file, and also import other style files */
html,
body {
  max-width: 100vw;
}

.col-* {
  margin-right: 0 !important;
}

.col-lg-4 {
  padding-right: 0 !important;
}

.row {
  margin-right: 0 !important;
}

.nav-link:active {
  font-weight: bold;
  color: #3b4252;
}

.navbar {
  background-color: transparent;
  box-shadow: none !important;
}

.top-nav-collapse {
  background-color: white;
  color: #3b4252;
}

.top-nav-collapse .nav-link {
  color: #3b4252 !important;
}

.top-nav-collapse .navbar-brand {
  color: #3b4252 !important;
}

.top-nav-collapse .navbar-toggler-icon {
  background-image: url("assets/hamburger_menu.svg") !important;
}
